<div class="card">
  <div class="card-header">
    Angular RxJs Paging
  </div>
  <div class="card-body">
    <h5 class="card-title">Tasks</h5>
    <div class="card-text">
      <ol type="1">
        <li> Use the link https://randomuser.me/api/?seed=foobar&results=20 to retrieve data, transform into user.model.ts and display on html</li>
        <li> Add Logic to not hit the server again if more subscriptions are added</li>
        <li> Display number of results based on buttons(hardcode options to 20, 40, 60). Default is 20. </li>
        <li> Add logic, when user clicks on 40, should display 40 results and so on</li>
        <li> Add paging, with button Next/Previous. Use https://randomuser.me/api/?seed=foobar&results=limitParameter&page=pageParameter to page the result </li>
        <li> Add logic to disable previous button if pageNumber is 1.</li>
        <li> Change Detection to onpush.</li>
      </ol>
    </div>
  </div>
</div>
<table class="table">
    <tbody>
      <tr>
        <td>
            <span class="font-weight-bolder">Displaying {{ limit$ | async }} Users</span>
            <button class="btn btn-primary margin" (click)="setLimit(limit)" *ngFor="let limit of limits">{{limit}}</button>
        </td>
      </tr>
      <tr>
          <td>
              <span class="font-weight-bolder">PageNumber: {{ page$ | async }} </span>
              <button class="btn btn-secondary margin" [disabled]="(isFirstPage$ | async)" (click)="shiftPage(-1)" >Previous</button>
              <button class="btn btn-secondary margin" (click)="shiftPage(1)" >Next</button>
          </td>
        </tr>
    </tbody>
  </table>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Avatar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of (user$ | async)">
        <td>{{u.title}}</td>
        <td>{{u.first}}</td>
        <td>{{u.last}}</td>
        <td><img [src]="u.pictureUrl" /></td>
      </tr>
    </tbody>
  </table>